#landing-text {
    width: 100%!important;
    text-align: center!important;
}
.banner-paragraph{
    font-size: 22px;
}

.d-flex {
    display: flex!important;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.text-wrapper-right{
    text-align: right;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.img-container{
    width: 50%!important;
}
.firstimage{
    width: 150%;
    display: block;
    margin-left: 30%;
}
.highlighted{
    color: #8071EB;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 500;
}
.custom-btn-primary{
    background-color: #8071EB;
    color: white;
    padding: 0.3em 2em;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}
#get-started-btn{
    padding: 0.3em 2em;

}
#get-started-btn:hover{
    color: white;
}
.nav-link{
    font-weight: 500;
    margin-left: 1em;
    margin-right: 1em;
    
}
#second-box{
    background-color: #F2F2F2;
    width: 100%;
}
#created{
    height: 200px;
    background-color: #F2F2F2;
    padding-top: 10%;
}
#start{
    height: 300px;
}
#dashboard{
    background-color: #F2F2F2 ;
}
.try-btn{
    color: white;
    background-color: #FFA790;
    padding: 0.3em 2em;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}
#btn-contianer{
    align-self: center;
    gap: 3em;
}
#paragraph{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
#title{
    font-weight: 600;
    font-size: 40px;
}
.text-wrapper{
    text-align: left;
}
@media screen and (max-width: 1200px){
    #new-landing-img {
        width: 100%!important;
    }

}

